
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" <%= selectedTypes.indexOf(type) >= 0 ? "checked":""  %> name="type-<%= type %>" value="<%= type %>" id="type-<%= type %>">
  <label class="form-check-label" for="type-<%= type %>">
    <%= type %>
  </label>
</div>



